.top {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color:#4CAF50;
    font-size: 40px;
}

label,
input,
option {
    font-size: 20px;
}

.btn {
    padding:12px 20px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    margin: 8px 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.hidden {
    display:none;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#cancel {
    width: 100%;
    background-color: #f5140c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#cancel:hover {
    background-color: #960c07;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

.form-popup {
    position: fixed;
    left: 35%;
    bottom: 20%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    visibility: hidden;
}
  
form {
    border-radius: 5px;
    background-color: #cecccb;
    padding: 20px;
    width:500px;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    gap:15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:300px;
    
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
